*{margin:0;}
html,body{font-family: "Helvetica Neue", "Segoe UI", Helvetica, Arial, "Hiragino Sans GB", "STXiHei", "Microsoft JhengHei", sans-serif;}
#selectimage{position:absolute;z-index:1;cursor:pointer;top:0;opacity:0;}
#selectimage,.drag{
    background-color: #222;
    background-size: cover;
    background-position: center;color:#FFF;display:block;width:100%;height:300px;line-height:300px;text-align:center;font-size: 3.5em;}
.box-shadow{
    -webkit-box-shadow:0 0 10px #000;
    -moz-box-shadow:0 0 10px #000;
    box-shadow:0 0 10px #000;
    text-shadow: 0 0 3px #000;
}
#show{margin: 1em 2em 2em 2em;overflow: hidden;}
.imgsrc{float: left;margin:5px;}
.showimage{height: 150px;width:150px;background-size:cover;background-position: center;}
#walltitle{margin:2em 2em .5em 2em;font-weight: bold;}